/* ==========================================================================
Page-specific css
=============================================================================*/
#header{
	display: block;
	background-color: white;
}

#nav{
	display:table;
	margin: auto;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#erikyang{
	display: inline-block;
	font-family: Gotham-Thin;
	font-size: 60px;
	line-height: 60px;

	margin-left: 10px;
	margin-right: 25px;
	margin-top: 10px;
}

#erikyang strong{
	font-family: Gotham-Bold;
	color: #003E80;
}

.navbox svg{
	display: block;
	width: 40px;
	height: 40px;
	margin: 8px auto;
	fill: currentColor;
}

.navbox{
	display: inline-block;
	margin: 0px 40px;

	font-family: Gotham-Bold;
	font-size: 15px;
	text-align: center;
	vertical-align: top;

	transition: color 0.2s, transform 0.2s;
}

.navbox:hover{
	cursor:pointer;
	transform: scale(1.05, 1.05);
}

#content-container{
	margin: auto;
	background-color: white;
	max-width: 900px;
}

.section{
	display: block;
}

.section p{
	padding: 30px;
}

/* ==========================================================================
RESPONSIVENESS!!!11!1!1!
============================================================================= */
/*For Phones*/
@media (max-width: 700px){

}

/*For Tablets*/
@media (max-width: 1080px) and (min-width: 700px){

}