/* ==========================================================================
Color Palette, for reference
============================================================================= */
/*BACKGROUNDS*/
.whiteback{
	background-color: white;
}

.grayback{
	background-color: #EEEEEE;
}

.blackback{
	background-color: #222222;
	color: white;
}

.orangeback{
	background-color: #FF4500;
}

.blueback {
	background-color: #003e80;
	color: #EEEEEE;
}

.redback {
	background-color: #8B0000;
}

.brightredback {
	background-color: #FF0018;
}

/*COLOR*/
.white{
	color: white;
}

.lightgray{
	color: #cccccc;   
}

.gray{
	color: #EEEEEE;
}

.black{
	color: #222222;
}

.orange{
	color: #FF4500;
}

.blue {
	color: #003e80;
}

.red {
	color: #8B0000;
}

.brightred {
	color: #FF0018;
}

/*HOVERS*/
.orangehover:hover {
    color: #FF4500;
}

.bluehover:hover {
    color: #003e80;
}

.redhover:hover {
    color: #8B0000;
}