/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Roboto;
    font-weight: 400;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Html & Fonts
   ========================================================================== */
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face{
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.ttf);
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: Gotham-Thin;
    margin: 0px 0px 10px 0px;
}

h2{
    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 10px;
    font-family: Gotham-Bold;
    margin: 20px 0px 10px 10px;
    color: #F6F6F6;
}

/* ==========================================================================
  Color Palette
   ========================================================================== */

.darkgray{
    background-color:#161616;
    color:#F6F6F6;
}

.lightgray{
    background-color:#F6F6F6;
}

.red{
    background-color: #D32929; 
}

.redtext{
    color: #D32929; 
}

/* ==========================================================================
  Parts of the site
   ========================================================================== */

#header{
    height: 200px;
    background-color: #FFFFFF;
}

#header-container{
    margin: auto;
    padding: 48px 0px 50px 0px;
    width: 450px;
    text-align: left;
}

#erikyang{
    font-family: Gotham-Thin;
    font-size:80px;
    line-height: 80px;
}

#erikyang strong{
    font-family: Gotham-Bold;
    color: #001E3E;
}

#erikyang-subtitle{
    font-weight: 300;
    font-size: 20px;
    line-height: 0px;
}

#nav{
    height: 50px;
    background-color: #000C17;
    color:white;
    text-align:center;
}

.navbox{
    display: inline-block;
    padding: 0px 70px;
    height: 100%;
    font-family: Gotham-Bold;
    font-size: 15px;
    line-height: 50px;
    text-align: center;

    transition: background-color 0.5s ease;
}

.navbox:hover{
    background-color: black;
    border-bottom: 2px solid red;
}

#slider{
    background-color: #003C4D;
    background-image: url("../img/CoverPhoto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

#slider-text-container{
    position: relative;
    display: table;
    margin-left: 50%;
    top: 30%;

    color: white;

    text-align: left;
}

#hello{
    position: relative;
    display: block;

    text-align: left;
    
    height: 85px;
    background-color: #FFFFFF;
    
    font-family: Gotham-Bold;
    font-size: 50px;
    line-height: 85px;
    padding-left: 20px;
    padding-right: 20px;
}

#i-love{
    position: relative;
    display: inline-block;

    text-align: left;
    
    line-height: 50px;
    height: 50px;
    
    font-family: Lobster, sans-serif;
    font-size: 30px;

    margin-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
}

#i-love span{
    font-family: Gotham-Bold;
}

.section{
    padding: 50px 0px;
    border-bottom: 1px solid #A5A5A5;
}

.section-container{
    margin:auto;
    max-width: 1200px;
    padding: 0px 60px;
    text-align: center;
}

.card{
    display: inline-block;
    vertical-align:top;
    width: 250px;
    height: 320px;
    text-align:center;
    margin: 10px 8px;

    padding: 20px;
}

.card img{
    display: block;
    margin:0px auto 20px auto;
    border-bottom: 1px solid #A5A5A5;
}

#footer{
    background-color: #000C17;
    height: 100px;
    color: white;
    padding: 20px;
}




#anti-troll{
    display: none;
}

/* ==========================================================================
   RESPONSIVENESS!!!11!1!1!
   ========================================================================== */
/*For Phones*/
@media (max-width: 700px){
    #header{
        height: 100px;
    }

    #header-container{
        padding:20px 0px 20px 0px;
        width: 265px;
    }

    #erikyang{
        font-size:40px;
        line-height: 40px;
    }

    #erikyang-subtitle{
        font-size: 15px;
    }

    #nav-bar{
        width: 300px;
    }

    .navbox{
        font-size: 12px;
        padding: 0px 10px;
    }

    #slider{
        background-size: 700px;
        background-position: center;
        height: 300px;
    }

    #slider-text-container{
        margin-left: 30%;
    }

    #hello{
        font-size: 25px;
        line-height: 40px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #i-love{
        font-size: 20px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-container{
        padding: 0px 10px;
    }
}

/*For Tablets*/
@media (max-width: 1080px) and (min-width: 700px){
    #slider-text-container{
        margin-left: 40%;
    }

    #hello{
        font-size: 45px;
        line-height: 60px;
        height: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }

    #i-love{
        font-size: 25px;
        line-height: 40px;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbox{
        padding: 0px 40px;
    }
}

/*For Trolls Who Want Impossibly Small Windows*/
@media (max-width: 200px){
    #footer{
        display: none;
    }

    #anti-troll{
        display: block;
        position: absolute;
        top:0px;

        height: 100%;
        width: 100%;

        background-color: black;
        text-align: center;
        color: white;
        padding-top: 100px;
    }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
