/* ==========================================================================
Fonts
============================================================================= */
@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face{
    font-family: Gotham-Thin;
    src: url(../fonts/Gotham-Thin.ttf);
}

/* ==========================================================================
Html tags
============================================================================= */
*{
    margin:0;
    padding:0;
}

html {
    color: #222222;
    background-color: #F2F2F2;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 300;
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration:none;
}

a::selection {
  background: red;
  text-decoration: underline;
}

a::-moz-selection {
  background: red;
  text-decoration: underline;
}

hr{
    border: 1px solid #cccccc;
}

/* ==========================================================================
Site-wide tags
============================================================================= */

#cover {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    top:0;
    left: 0;
    background: #F2F2F2;
    z-index:9999;
}

.shadow{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.invisibletext{
    color: #F2F2F2;
}