/*
tag{
	color/border
	font
	effects
	positioning/display
	width/height
	padding/margin
	transition/animation
}
*/

/*====Imported Fonts====*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700');

/*====Theme HTML Elements====*/
body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a, a:hover, a:visited, a:active, a:focus{
	text-decoration: none;
	color: #777;
	transition: color 0.2s;
}

a:hover{
	color: #008489;
}

nav{
	background-color: white;
	border-bottom: 1px #DDD solid;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    width: 100%;
	height: 60px;
}

nav ul{
	list-style-type:none;

	float: right;
	vertical-align: top;
	display: table;

	height: 100%;

	margin: 0px 50px;
	padding: 0;
}

nav li{
	color: #333;

	cursor: pointer;

	display: table-cell;
	vertical-align: middle;
	height: 60px;

	padding: 0px 30px;

	transition: all 0.2s;
}

nav li:hover{
	color: #555;
}

#mobile-menu-icon{
	display: none;
}

#mobile-menu-heading, #mobile-menu-heading:hover{
	color: inherit;
	font-family:'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	
	cursor: initial;
}

.mobile-only{
	display:none;
}

@media (max-width: 480px) {
	.mobile-only{
		display: inherit;
	}

	nav ul{
		background-color: white;

		position:absolute;
		top:-100vh;
		right:0;

		display: block;

		width: 100%;
		height: 100vh;

		margin: 0px;
		padding-top: 80px;
	}

	nav ul li{
		border: ;
		font-family:'Lato';
		font-size: 20px;
		font-weight:300;

		display: block;
		height: initial;
		margin-bottom: 20px;
	}

	nav ul a li:hover{
		color: #008489;
	}

	#mobile-menu-icon{
		list-style-type:none;

		position:relative;
		z-index: 9;
		float: right;
		vertical-align: top;
		display: table;
	}

	#mobile-menu-icon span{
		display: inline-block;
	}

	#menu-chevron{
		font-size: 8px;

		display: inline-block;
		vertical-align: middle;

		margin-left: 5px;
		margin-bottom: 2px;
	}
}

h1{
	font-family:'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;

	margin: 10px 0px;
}

h2{
	font-family:'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;

	margin: 5px 0px;
}

h3{
	font-family:'Montserrat', sans-serif;
	font-size:16px;
	font-weight: 700;

	margin: 3px 0px;
}

/*====Theme-Specific Elements====*/
.center-container{
	display: table;
	margin: auto;
}

.centercenter-container{
    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    transform: translate(-50%, -50%);
}

.padding-top-sm{
	padding-top: 30px;
}

#brand{
	border-right: 1px #DDD solid;

	height: 100%;
	
	padding: 8px;
}

#landing{
	color: white;
    background-color: #ff7e75;
    background: -moz-linear-gradient(120deg, #ff7e75, #ff9988, #a91f56);
    background: -webkit-linear-gradient(120deg, #ff7e75, #ff9988, #a91f56);
    background: linear-gradient(120deg, #ff7e75, #ff9988, #a91f56);

 	overflow: hidden;
    position:relative;

    height: 75vh;
    width: 100%;

    margin-top: 60px;
}

#particles-js{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

#landing-container{
	position: absolute;
	top: 30%;
	left: 35%;
	transform: translate(-50%, 0%);
}

@media (max-width: 768px) {
	#landing-container{
		left: 10%;
		transform: none;
	}
}
@media (max-width: 480px) {
	#landing-container{
		left: 0%;
		transform: none;

		margin: 0px 15px;
	}
}

#landing-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight:700;

	margin-left: -3px;
	margin-bottom: 2px;
}

#landing-subtitle{
	font-size: 18px;
}

#landing-decoration{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	position: absolute;
	top: 0;
	left: 65%;
	transform: translate(-50%, 0%);

	height: 100%;
}

@media (max-width: 768px) {
	#landing-decoration{
		display: none;
	}
}

#projects .row{
	margin-bottom: 15px;
}

@media (max-width: 768px) {
	#projects .row{
		margin-bottom: 0px;
	}
}

.project-container:nth-child(2){
	padding: 0px 0px;
}

@media (max-width: 768px) {
	.project-container:nth-child(2){
		padding: 0px 15px;
	}
}

.project{
	border: 1px #DDD solid;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);

    transition: all 0.1s;
}

@media (max-width: 768px) {
	.project{
		margin-bottom: 10px;
	}
}

.project:hover{
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-content{
	padding: 5px 10px;
}

.project span{
	display: block;
	margin-top: 5px;
}

.button{
	color: #333;	
	font-family:'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: center;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: inline-block;

	padding: 5px 10px;
	margin: 0px 5px;

	transition: all 0.3s;
}

.button:hover{
	color: #333;
	background-color: #DDD;

	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button:active{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.center-container .button{
	margin-top: 5px;
	margin-bottom: 5px;
}