<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="I'm Erik Yang, a software engineer studying at UC Berkeley.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <!--Credit:https://realfavicongenerator.net/-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=0">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=0">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=0">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=0">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=0">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=0">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=0">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=0">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=0" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=0" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=0" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=0" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json?v=0">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=0" color="#dc143c">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=0">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=0">
    <meta name="theme-color" content="#ffffff">

    <!--Icons-->
    <script src="https://use.fontawesome.com/cbf9554986.js"></script>

    <!--Fonts-->

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">

    <title>
        Erik Yang
    </title>
</head>

<!-- 
TODO:
about section
contact
footer
subtitle js
project collaborators
project image viewer
regular projects content
-->
<body>
    <nav>
        <a href=""><img id="brand" src="img/brand.jpg"></img></a>
        <div id="mobile-menu-icon"><li><span>Navigation</span><i id="menu-chevron" class="fa fa-chevron-down"></i></li></div>
        <ul>
            <li class="mobile-only" id="mobile-menu-heading">Site Outline</li>
            <a class="mobile-only" href=""><li>Home</li></a>
            <a href="#about"><li>About</li></a>
            <a href="#projects"><li>Projects</li></a>
        </ul>
    </nav>

    <div id="landing">
        <div id="particles-js"></div>
        <img id="landing-decoration" src="img/landing-decoration.png"></img>
        <div id="landing-container">
            <div id="landing-title">Erik Yang</div>
            <div id="landing-subtitle">Computer Science major at UC Berkeley <br>and aspiring programmer</div>
        </div>
    </div>

    <div id="about" class="container padding-top-sm">
        <h1>About</h1>
        <h2>Looking for software engineering internship for Summer 2017!</h2>
        Studying: Computer Science at UC Berkeley</br>
        Previously: Software Development Intern at <a href='http://openisdm.iis.sinica.edu.tw/' target="_blank" title="Go to Academia Sinica OpenISDM Homepage">Academia Sinica</a>
    </div>

    <!--<div id="projects" class="container padding-top-sm">
        <h1>Projects</h1>
        <h2 id="github-projects-header">Updated just now from <a href="https://www.github.com/erikyangs" target="_blank" title="Go to @erikyangs Github">@erikyangs Github:</a></h2>
        <h2 id="other-projects-header">Other projects:</h1>
    </div>-->

    <div id="projects" class="container padding-top-sm ng-cloak" ng-app="projects-app" ng-controller="projects-controller">
        <h1>Projects</h1>
        <h2 id="github-projects-header">Updated just now from <a href="https://www.github.com/erikyangs" target="_blank" title="Go to @erikyangs Github">@erikyangs Github:</a></h2>
        <div class="row">
            <div ng-repeat="project in githubprojects">
                <div ng-if="$index%3==0 && $index!=0" class="clearfix"></div>
                <div ng-if="project.name && project.description" class="col-sm-4 project-container">
                    <div class="project">
                        <img ng-if="project.img_url" ng-src="{{project.img_url}}"></img>
                        <div class="project-content">
                            <h3>{{project.name}}</h3>
                            <span>{{project.description}}</span>
                            <div ng-if="project.html_url || project.homepage" class="center-container text-center">
                                <a ng-href="{{project.html_url}}" target="_blank"><div class=button>Source Code</div></a>
                                <a ng-href="{{project.homepage}}" target="_blank"><div class=button>View Project</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 id="other-projects-header">Other projects:</h1>
        <div class="row">
            <div ng-repeat="project in otherprojects">
                <div ng-if="$index%3==0 && $index!=0" class="clearfix"></div>
                <div ng-if="project.name && project.description" class="col-sm-4 project-container">
                    <div class="project">
                        <img ng-if="project.img_url" ng-src="{{project.img_url}}"></img>
                        <div class="project-content">
                            <h3>{{project.name}}</h3>
                            <span>{{project.description}}</span>
                            <div ng-if="project.html_url || project.homepage" class="center-container text-center">
                                <a ng-href="{{project.html_url}}" target="_blank"><div class=button>Source Code</div></a>
                                <a ng-href="{{project.homepage}}" target="_blank"><div class=button>View Project</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 10vh"></div>

    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/particles.min.js"></script> 
    <script src="js/index.js"></script>
</body>
</html>
