<!-- For reference when coding -->
<div class=row>
    <div class='col-sm-4 project-container'>
        <div class=project>
            <h3>bootstraptemplate</h3><span>A bootstrap template demonstrating my front-end web design.</span>
            <div class='center-container text-center'>
                <a href=https://github.com/erikyangs/bootstraptemplate target='_blank'>
                    <div class=button>Source Code</div>
                </a>
                <a href=https://erikyangs.github.io/bootstraptemplate target='_blank'>
                    <div class=button>View Project</div>
                </a>
            </div>
        </div>
    </div>
    <div class='col-sm-4 project-container'>
        <div class=project>
            <h3>emojipastagenerator</h3><span>Converts Text -> Emojipasta.</span>
            <div class='center-container text-center'>
                <a href=https://github.com/erikyangs/emojipastagenerator target='_blank'>
                    <div class=button>Source Code</div>
                </a>
                <a href=https://erikyangs.github.io/emojipastagenerator target='_blank'>
                    <div class=button>View Project</div>
                </a>
            </div>
        </div>
    </div>
    <div class='col-sm-4 project-container'>
        <div class=project>
            <h3>erikyangs.github.io</h3><span>Erik Yang - Personal Website</span>
            <div class='center-container text-center'>
                <a href=https://github.com/erikyangs/erikyangs.github.io target='_blank'>
                    <div class=button>Source Code</div>
                </a>
                <a href=https://erikyangs.github.io target='_blank'>
                    <div class=button>View Project</div>
                </a>
            </div>
        </div>
    </div>
</div>