/* ==========================================================================
Page-specific css
=============================================================================*/
#contact-container{
	display: table;
	height: 200px;
	margin: auto;
	font-size: 0px;

/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);*/

	background-image: url(../img/CoverPhoto.jpg);
}

.contact-box{
	display: inline-block;
	width: 200px;
	height: 200px;
	font-size: 24px;

	color: white;
	fill: white;
	
	text-align: center;
	font-family: Gotham-Bold;
	text-transform: uppercase;

	transition: background-color 0.2s;
}

.contact-box:hover{
	background-color: rgba(0, 0, 0, 0.7);
}

.contact-box:hover svg{
	transform: scale(1.05, 1.05);
}

.contact-box svg{
	display: block;
	width: 100px;
	height: 100px;
	margin: 25px auto 15px auto;

	transition: transform 0.2s;
}

/* ==========================================================================
RESPONSIVENESS!!!11!1!1!
============================================================================= */
/*For Phones*/
@media (max-width: 700px){
	#contact-container{
		height: 150px;
		margin: 0px auto 25px auto;
	}

	.contact-box{
		width: 150px;
		height: 150px;
		font-size: 20px;
		display: block;
		padding-top: 20px;
		box-sizing: border-box;
	}
	.contact-box svg{
		width: 80px;
		height: 80px;
		margin: 0px auto 5px auto;
	}
}

/*For Tablets*/
@media (max-width: 1080px) and (min-width: 700px){
	#contact-container{
		height: 150px;
	}

	.contact-box{
		width: 150px;
		height: 150px;
		font-size: 20px;
	}
	.contact-box svg{
		width: 80px;
		height: 80px;
		margin: 20px auto 10px auto;
	}
}